<div class="animated fadeIn">
    <!--<div class="card-header">
        <button class="btn btn-secondary justify-content-around float-right border-0 m-0 p-0 col-12">
            <i class="icon-options-vertical icons font-lg mt-4 float-right"></i>
        </button>   
    </div>-->
        <div class="row">
            <div class="animated fadeIn col col-4">
                <sub-sub-insight1-statistics-exercise></sub-sub-insight1-statistics-exercise>
            </div>
            <div class="animated fadeIn col col-8">
                <sub-sub-insight2-statistics-exercise></sub-sub-insight2-statistics-exercise>
            </div>  
        </div>       
</div>