<div class="card col-lg-9 align-center" role="create a goal">

    <div class="card-block" role="title">
        <h5 class="display-5 text-center">{{title}}</h5>
    </div>     

    <!--NAVIGATION BUTTONS-->
        <div class="card-block" role="navigation">
            <ul class="nav nav-pills nav-fill" aria-label="Create an Exercise Navigation">
                <li class="nav-item" *ngFor="let page of headers; let i = index">
                        <a [ngClass]= "page.ClassInfo" (click)="onHeaderLinkClick(i)">
                            {{page.Entity}}
                        </a>
                </li>
            </ul>
        </div>
</div>