    <div class="list-group" data-spy="scroll">
        <div *ngFor="let exercise of adaptiveExerciseList$ | async; let i = index;">
        <a [ngClass]="exercise.ClassInfo"
            style="padding: 0.5rem"
            *ngIf="!exercise.IsVisible"
                (click)="onListItemClick(i)">
                    <div class="d-flex w-100 justify-content-between m-0 container">
                        <div class="row">
                            <div class="display-7">
                                {{exercise.Entity.name}}
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn btn-secondary justify-content-around float-right border-0 m-0 p-0 col-12">
                                <i class="fa fa-play-circle fa-lg mt-4"></i>
                            </button>
                        </div>
                    </div>

                    <!--UPDATE & DELETE-->
                    <!--<div class="float-right" *ngIf="exercise.Entity.owner == uid">
                        <span class= "btn-group justify-content-center float-right" role="group"> 
                            <button class="btn btn-secondary justify-content-center"
                            style="border-color: #FFF"  
                                (click)="update(exercise.$key)"
                                (mousover) = "mouseOverUpdate(i)">
                                <i class="fa fa-wrench fa-2x mt-4"></i>
                            </button>
                            <button class="btn btn-secondary justify-content-center" 
                            style="border-color: #FFF"
                                (click) = "delete(exercise.$key)"
                                (mousover) = "mouseOverDelete(i)">
                                <i class="icon-close icons font-2xl mt-4"></i>
                            </button>
                        </span>
                    </div>-->
                    
            </a>
        </div>
    </div>

