<div class="card-block">
        <!--CREATE BUTTON-->
        <div class="form-group row">
            <div class="container">
                <div class="row">
                    <div class="col-3 float-right">
                            <strong><label for="measure">NAME | </label> </strong> {{_local.Exercise.Name}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 float-right">                     
                            <strong><label for="measure">DESCRIPTION | </label> </strong> {{_local.Exercise.Description}}                       
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 float-right">                     
                            <strong><label for="measure">ISPRIVATE | </label> </strong>:  {{_local.Exercise.IsPrivate}}                       
                    </div>
                </div>                
                    <div class="row" *ngIf="_local.Categorys">
                        <strong><label for="measure">CATEGORY | </label> </strong>
                        <div class="col-3 float-right">
                            <span class="row">
                                <span class="badge badge-pill badge-success justify-content-center" 
                                        *ngFor= "let category of _local.Exercise.Category; let i = index">
                                            <p>{{ category }}</p>
                                </span>
                            </span>                       
                        </div>
                    </div>
                    <div class="row" *ngIf="_local.Measures">
                        <strong><label for="measure">MEASURE | </label> </strong>
                        <div class="col-3 float-right">
                            <span class="row">
                                <span class="badge badge-pill badge-success justify-content-center" 
                                        *ngFor= "let measure of _local.Exercise.Measure; let i = index">
                                            <p>{{ measure }}</p>
                                </span>
                            </span>                                                    
                        </div>
                    </div>
                    <div class="row" *ngIf="_local.Equipments">
                        <strong><label for="equipment">EQUIPMENT | </label> </strong>
                        <div class="col-3 float-right">
                            <span class="row">
                                <span class="badge badge-pill badge-success justify-content-center" 
                                        *ngFor= "let equipment of _local.Exercise.Equipment; let i = index">
                                            <p>{{ equipment }}</p>
                                </span>
                            </span>                
                        </div>
                    </div>
                <div class="row">
                    <div class="col-8 float-right">
                        <button class="btn btn-success btn-lg float-right" measure="button" (click)="create()">
                            Create
                        </button>
                    </div>
                </div>
            </div>
        </div>
</div>