<div class="col-sm-12 col-lg-12" style="padding-right: 0px;">
    <div class="card card-inverse card-primary">
        <div class="card-block pb-0">
            <div class="btn-group float-right" dropdown>
                <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                    <i class="icon-settings"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" dropdownMenu>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
            <h4 class="mb-0" (click)="onUpdate()">{{title}}</h4>
            <p (click)="randomize()">{{descriptor}}</p>
        </div>
            <div class="chart-wrapper px-1 p-0" style="height:10rem;">
                <canvas baseChart class="chart" 
                        [datasets]="(lineChartEntity$ | async)?.Data?.Boomerang" 
                        [labels]="(lineChartEntity$ | async)?.Labels"   
                        [options]="(lineChartEntity$ | async)?.Options?.Boomerang"   
                        [colors]="(lineChartEntity$ | async)?.ChartColors"    
                        [chartType]="(lineChartEntity$ | async)?.Type" 
                                        [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                        [legend]=false
                        (click)="clickData()"
                        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
            
            </div>
            <!--<div class="chart-wrapper px-1 p-0" style="height:10rem;">
                <canvas baseChart class="chart" 
                        [datasets]="(lineChartEntity | async)?.Data?.Boomerang" 
                        [labels]="(lineChartEntity | async)?.Labels"   
                        [options]="(lineChartEntity | async)?.Options?.Boomerang"   
                        [colors]="(lineChartEntity | async)?.ChartColors"    
                        [chartType]="(lineChartEntity | async)?.Type" 
                        [legend]=false
                        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
            
            </div>-->

    </div>
</div>

    <!--                   
                                        [legend]="lineChartEntity.LineOptions.legend.display" 
                                        [options]="lineChartEntity.Options.Boomerang"   -->