<div class="animated fadeIn">
 <div class="container">
    {{diagnostic}}
</div>
    
    <span *ngFor="let alert of _local.Alerts; let i = index;">
        <div [ngClass]="alert.ViewModel.ClassInfo"  role="alert" *ngIf="!alert.IsHidden">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onAlertClose(i)">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>{{alert.Title}}</strong> {{alert.Content}}
        </div>
    </span>

    <app-header-create-exercise></app-header-create-exercise>

    <div class="card text-center col-lg-9 justify-content-center">
        <!--<div class="row">-->
            <!--<button class="btn btn-primary float-left">
                <i class="icon-arrow-left icons font-2xl d-block mt-4"></i>
            </button>-->
            <!--PAGE 1 - (BASIC DETAILS) Name|Description-->
            <div *ngIf="_local.CurrentPage == 0" class="animated fadeIn">
                <app-basics-create-exercise></app-basics-create-exercise>
            </div>

            <!--PAGE 2- (DATES) Category | Measure | Anatomy | Equipment -->
            <div *ngIf="_local.CurrentPage == 1" class="animated fadeIn">
                <app-properties-create-exercise></app-properties-create-exercise>
            </div>

            <!--PAGE 4 (Summary) -->
            <div *ngIf="_local.CurrentPage == 2" class="animated fadeIn">
                <app-summary-create-exercise></app-summary-create-exercise>
            </div>
            <!--PAGE NUMBER-->
            <div class="card-footer text-muted">
                {{_local.CurrentPage + 1}} of {{_local.TotalPages}}
            </div>
            <!--<button class="btn btn-primary float-right">
                <i class="icon-arrow-right icons font-2xl d-block mt-4"></i>
            </button>-->
        <!--</div>-->
    </div>
</div>
