<div class="col-lg-12 animated fadeIn" style="padding-left: 0px;">
    <div class="card">
        <div class="card-header">
                <div class="float-left">
                    <div class="text-muted text-uppercase font-weight-bold font-xs ">{{(statistic | async)?.ElementName}}</div>
                </div>
                <div class="float-right">
                    <label class="switch switch-sm switch-text switch-info float-right mb-0">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
        </div>
        <div class="card-block clearfix" style="padding: 1em;">
            <div class="row">              
                <div class="col-2 btn btn-secondary align-items-center"
                         style="border-color: #fff; padding-left: 0px; padding-right: 0px; padding-top:0px; padding-bottom:0px;"
                         (click)="onCycleLeft()">
                     <i class="fa fa-angle-left font-3xl"></i>
                </div> 
                <div class="col-8  justify-content-lg-center justify-content-sm-center">
                        <div class="h8 text-primary justify-content-lg-center" 
                            *ngFor="let exercise of (statistic | async)?.Entitys; let x = index"> 
                                <span>{{(x+1)}}. {{exercise.name}} : {{exercise?.globalCompletion}}</span>
                        </div>                         
                </div>
                <div class="col-2 btn btn-secondary justify-content-sm-center justify-content-between" 
                    style="border-color: #fff" (click)="onCycleRight()">
                     <i class="fa fa-angle-right font-3xl"></i>
                </div>                  
            </div>
        </div>
        <div class="card-footer px-1 py-h">
            <div class="row">
                <div class="col-9">
                    <small><p> {{(statistic | async)?.ElementDescription}} </p></small>
                </div>
                <div class="col-3">
                    <small><p> {{ _local_statistics.Index +1 }} of {{statistics.length}} </p></small>
                </div>
            </div>         
            <!--<a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>-->
        </div>
    </div>
</div> 
