
  
<div *ngIf="!toggler">
  <sub-sub-detail-master-detail-exercise></sub-sub-detail-master-detail-exercise>
</div>
<div *ngIf="toggler">
  <sub-sub-chart-master-detail-exercise></sub-sub-chart-master-detail-exercise>
</div>