<div class="animate fadeIn justify-content-center">
    <sub-header-exercise></sub-header-exercise>
    <div class="card">
        <div class="card-block">
            <sub-statistics-exercise></sub-statistics-exercise>
        </div>
    </div>

    <div class="animated fadeIn col-lg-12 flex-column"
        style="padding:0%">
        <div class="card">
                <div class="card-block">
                        <!--<sub-searchBar-exercise></sub-searchBar-exercise>                        -->
                    <div class="row">
                        <div class="col-4">
                        <sub-list-exercise></sub-list-exercise>
                        </div>
                        <div class="col-8">
                        <sub-master-detail-exercise></sub-master-detail-exercise> 
                        </div>                
                    </div>               
                </div>
            </div>
    </div>
</div>