<div class="card text-center">
        <div class="card-block">
    <div class="row">
    <!--<div class="col-sm-1 col-md-1 col-lg-1">
        <i class="fa fa-search fa-2x mt-4"></i>
    </div>-->
    <!--<span class="col-sm-1 col-md-1 col-lg-1 input-group-addon">
        <i class="fa fa-search fa-2x mt-4"></i>
    </span>-->
    <div class="col-sm-11 col-md-11 col-lg-11">
        <input type="text" 
            class="form-control form-control-lg float-left border-top-0 border-right-0 border-left-0"
            style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 2rem; font-style: normal"
            (keyup)="_local.SearchFilter$.next($event.target.value)"
            placeholder="Search exercises ...">
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1">
        <div ngbDropdown class="d-inline-block">
            <button type="submit" class="btn btn-secondary float-right rounded-circle" 
                style="border-color: #fff" (click)="RD_CreateExercise()" id="menuDropdown"
                ngbDropdownToggle>        
                <i class="icon-options-vertical icons font-2xl mt-4"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="menuDropdown">
                <button class="dropdown-item">Create Exercise</button>
                <button class="dropdown-item">Start Exercise</button>
                <button class="dropdown-item">Log Exercise</button>
            </div>
        </div>
    </div>
</div>
        </div>


