<div class="card-block">
    <!--TITLE-->
    <form action="" method="post" encmeasure="multipart/form-data" class="form-horizontal">
            <!--NAME-->
            <div class="form-group row">
                <label for="name"><strong>NAME</strong></label>
                    <input measure="text" class="form-control form-control-lg" 
                    placeholder="Enter the exercise name ..."
                    [(ngModel)]="_local.Exercise.Name"
                    name="name" 
                    #name = "ngModel">
            </div>
            <div class="form-group row"></div>

            <!--Description-->
            <div class="form-group row">
                <label for="name"><strong>DESCRIPTION</strong></label>
                <div class="col-md-11 justify-content-center">
                    <textarea id="description" name="description"
                        rows="9" class="form-control"
                        placeholder="Enter a description to give context to your new exercise..."
                        [(ngModel)]=_local.Exercise.Description>
                    </textarea>
                </div>
            </div>

            <!--PRIVACY-->
            <div class="form-group row">
                <label for="name"><strong>PRIVATE?</strong></label>
            </div>

            <div class="form-group row">
                <label class="switch switch-lg switch-default switch-pill switch-success">
                <input type="checkbox" class="switch-input" 
                checked="_local.Exercise.IsPrivate"
                (change)="toggleIsPrivate($event)"
                name = "isPrivate">
                <span class="switch-label"></span>
                <span class="switch-handle"></span>
                </label>
            </div>
            
    </form>
</div>