<div class="card-block">
    <form action="" method="post" encmeasure="multipart/form-data" class="form-horizontal ">

                        <!--CATEGORY-->                    
        <div class="form-group row"><strong><label for="measure">CATEGORY</label> </strong></div>
        <div class="btn-group" role="measure" data-toggle="buttons">
            <label [ngClass]="category.ClassInfo" *ngFor="let category of categoryButtons; let i = index">
                <input type="checkbox" autocomplete="off" 
                            checked="category.ClassInfo.active" 
                            (click)="onCategoryButtonClick(i)">
                        {{category.Entity.Name}}
            </label>
        </div>

        <div class="form-group row justify-content-center">
            <span class="row">
                <span class="badge badge-pill badge-success justify-content-center" 
                        *ngFor= "let category of _local.Exercise.Category; let i = index">
                            <p>{{ category }}</p>
                </span>
            </span>
        </div>

        <!--MEASURE-->
        <div class="form-group row"><strong><label for="measure">MEASURE</label> </strong></div>
        <div class="btn-group" role="measure" data-toggle="buttons">
            <label [ngClass]="measure.ClassInfo" *ngFor="let measure of measureButtons; let i = index">
                <input type="checkbox" autocomplete="off" 
                            checked="measure.ClassInfo.active" 
                            (click)="onMeasureButtonClick(i)">
                        {{measure.Entity.Name}}
            </label>
        </div>

        <div class="form-group row justify-content-center">
            <span class="row">
                <span class="badge badge-pill badge-success justify-content-center" 
                        *ngFor= "let measure of _local.Exercise.Measure; let i = index">
                            <p>{{ measure }}</p>
                </span>
            </span>
        </div>


                        <!--ANATOMY-->                    
    <!--<div class="form-group row"><strong><label for="measure">ANATOMY</label> </strong></div>
        <div class="btn-group" role="measure" data-toggle="buttons">
            <label [ngClass]="goalMeasure.ClassInfo" *ngFor="let goalMeasure of _local.MeasureButtons; let i = index" (click)="onMeasureButtonClick(i)">
                <input type="radio" name="options" id="option1" 
                            autocomplete="off" checked="goalMeasure.ClassInfo.active"> 
                            {{goalMeasure.Name}}
            </label>
        </div>

        <div class="form-group row justify-content-center">
            <span class="badge badge-pill badge-primary col-9 justify-content-center" *ngIf="_local.Exercise.Measure">
                <h5>{{_local.Exercise.Measure}}</h5>
            </span>
        </div>-->

                    <!--EQUIPMENT-->                    
        <div class="form-group row"><strong><label for="equipment">EQUIPMENT</label> </strong></div>
        <div class="btn-group" role="measure" data-toggle="buttons">
            <label [ngClass]="equipment.ClassInfo" *ngFor="let equipment of equipmentButtons; let i = index">
                <input type="checkbox" autocomplete="off" 
                            checked="equipment.ClassInfo.active" 
                            (click)="onEquipmentButtonClick(i)">
                        {{equipment.Entity.Name}}
            </label>
        </div>

        <div class="form-group row justify-content-center">
            <span class="row">
                <span class="badge badge-pill badge-success justify-content-center" 
                        *ngFor= "let equipment of _local.Exercise.Equipment; let i = index">
                            <p>{{ equipment }}</p>
                </span>
            </span>
        </div>

    </form>
</div>