<div class="animated fadeIn card">
            <div class="card-block mce-scroll" data-spy="scroll">
                <span class="row">
                    <div class="col-8">
                        <h4 class="display-4 justify-content-center">{{(currentExercise$ | async)?.name}}</h4>              
                    </div>
                    <div class="col-2">
                        <span class="align-top"> 
                          
                            <small>Global Completion: {{(currentExercise$ | async)?.globalCompletion}}</small>
                        </span>  
                        <span class="align-bottom"> 
                        </span> 
                    </div>  
                     <div class="col-1">
                         <div class="row">
                             <span class="col-6">
                                    <button class="btn btn-secondary justify-content-center float-right border-0 m-0 p-0" 
                                        (click)="toggleMasterDetail()">
                                        <i class="icon icon-list font-3xl d-block mt-2"></i>
                                    </button>
                             </span>
                            <span class="col-6">
                                    <button class="btn btn-secondary justify-content-around float-right border-0 m-0 p-0" 
                                        (click)="toggleMasterDetail()">
                                        <i class="icon icon-graph font-3xl d-block mt-2"></i>
                                    </button>
                            </span>
                         </div>
                    </div>
                </span>

                <table>
                    <tr>
                        <th><small><strong>Category</strong></small></th>
                        <th><small><strong>Measure</strong></small></th>
                    </tr>
                    <tr>
                        <td>
                            <span>
                                <small *ngFor="let category of categorys$ | async">
                                            {{(category | async)?.name}} 
                                </small> 
                            </span>
                        </td>
                        <td>
                                <small *ngFor="let measure of measures$ | async">
                                            {{(measure | async)?.name}} 
                                </small> 
                        </td>
                    </tr>           
                </table> 
                <div class="row float-right">
                    <table class="table-responsive">
                        <th></th>
                        <th></th>
                        <tr>
                            <td>
                                private
                            </td>
                            <td>
                                <label class="switch switch-sm switch-default switch-pill switch-success">
                                    <input type="checkbox" class="switch-input" 
                                    checked="workout?.IsPrivate"
                                    (change)="toggleIsPrivate($event)"
                                    name = "isPrivate">
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                 </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                PR
                            </td>
                            <td>
                                    <label class="switch switch-sm switch-default switch-pill switch-success">
                                        <input type="checkbox" class="switch-input" 
                                        checked="workout?.IsPrivate"
                                        (change)="toggleIsPrivate($event)"
                                        name = "isPrivate">
                                        <span class="switch-label"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                            </td>
                         </tr>
                    </table>
                    <!--<table>
                        <th><small>Private?</small></th>
                        <th><small>PR Enabled</small></th>
                        <tr>
                            <td>
                                <label class="switch switch-sm switch-default switch-pill switch-success">
                                    <input type="checkbox" class="switch-input" 
                                    checked="workout?.IsPrivate"
                                    (change)="toggleIsPrivate($event)"
                                    name = "isPrivate">
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                 </label>
                            </td>
                            <td>
                                <label class="switch switch-sm switch-default switch-pill switch-success">
                                        <input type="checkbox" class="switch-input" 
                                        checked="workout?.IsPrivate"
                                        (change)="toggleIsPrivate($event)"
                                        name = "isPrivate">
                                        <span class="switch-label"></span>
                                        <span class="switch-handle"></span>
                                </label>                                
                            </td>
                        </tr>
                    </table>-->
                </div>  

                <ul class="list-group list-group-flush">                                 
                        <li class="list-group-item">                       
                            <p class="card-text">
                                {{(currentExercise$ | async)?.description}}                     
                            </p>
                        </li>
                        <li class="list-group-item float-right">                       
                        </li>
                </ul>

                <div class="card-footer px-1 py-h">
                        <div class="row">
                        <!--<div class="chart-wrapper px-1 col-9" style="height:50px;">
                            <canvas baseChart class="chart" 
                                    [datasets]="lineChartEntity?.Data.Boomerang" 
                                    [labels]="lineChartEntity?.Labels"   
                                    [options]="lineChartEntity?.Options.Boomerang"   
                                    [colors]="lineChartEntity?.ChartColors"    
                                    [chartType]="lineChartEntity?.Type" 
                                    [legend]=false
                                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                            </canvas>
            
                            </div>-->
                            <div class="float-right">
                                <small><strong>Equipment: </strong></small>
                                <small *ngFor="let equipment of equipments$ | async">
                                            {{(equipment | async)?.name}} 
                                </small> 
                            </div>
                        </div>                                        
                </div>
            </div>
</div>