<div class="animated fadeIn">
        <div class="chart-wrapper px-0 chart" style="height:170px;">
          <canvas baseChart class="chart-wrapper" 
                  [datasets]="lineChartEntity?.Data.Boomerang" 
                  [labels]="lineChartEntity?.Labels" 
                  [colors]="lineChartEntity.LineChartColours"
                  [options]="lineChartEntity?.Options.Boomerang"             
                  [chartType]="lineChartEntity?.Type" 
                  (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
          </canvas>
          <!--                  [colors]="lineChartEntity.LineChartColours" 
                                [legend]="lineChartEntity.LineOptions.legend.display" 
                                [options]="lineChartEntity.Options.Boomerang"   -->
      </div>
</div>